asgiref==3.11.1
Django==6.0.2
sqlparse==0.5.5
tzdata==2025.3




# ================================
# Core
# ================================
python-dotenv
str2bool

# ================================
# UI
# ================================
django-admin-material-dashboard==1.0.14
django-widget-tweaks

# ================================
# Deployment
# ================================
whitenoise==6.7.0              # Servir arquivos estáticos
gunicorn==21.2.0               # Servidor WSGI para produção
psycopg2-binary==2.9.9         # Driver PostgreSQL
reportlab==4.2.0               # Gerar PDFs

django-extensions==3.2.3       # Extensões úteis de desenvolvimento
django-allauth==64.1.0         # Autenticação completa (email/social)
requests==2.32.3               # Requisições HTTP
pytz==2024.1                   # Fusos horários
msal==1.30.0                   # Autenticação com Microsoft (Azure AD)
python-dateutil==2.9.0.post0   # Manipulação avançada de datas
rules==3.4                     # Regras de negócios

# ================================
# PDF & Processamento HTML
# ================================
weasyprint==66.0          
pydyf>=0.11.0
tinycss2>=1.4.0
cssselect2>=0.7.0
tinyhtml5>=2.0.0          # substitui o html5lib nas versões novas
Pillow>=9.1.0             # WeasyPrint recomenda
fonttools>=4.0.0


# ================================
# Data e Ciência
# ================================
numpy==1.26.4
pandas==2.2.3
openpyxl==3.1.5
matplotlib==3.9.2

# ================================
# Inteligência Artificial / NLP
# (opcional - apenas se precisares)
# ================================
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
transformers==4.43.3
sentence-transformers==3.0.1
openai==1.47.0


qrcode[pil]